/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "leaflet/dist/leaflet.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* purgecss end ignore */
@import "tailwindcss/utilities";

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light-border.css';

@import './page-view.css';

body {
    @apply .text-gray-900 .font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    @apply .text-blue-dark;
}

a:hover {
    @apply .text-blue;
}

#footer-links li a{
    @apply .text-white .font-semibold .text-sm .uppercase;
}

#footer-links li a:hover {
    @apply .text-gray-400;
}

/*components*/

.tag {
    @apply .px-2 .inline-flex .text-xs .leading-5 .font-semibold .rounded-full .bg-blue-dark .text-white;
}

@media print {
    a:after {
        content: " (" attr(href) ") ";
        text-decoration: underline;
        display: inline;
    }
}