<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout(~{::title}, ~{::section})}">
<head>
    <title th:text="${resource.resourceTitle}"></title>
</head>
<body>
<section>
    <div class="flex page-view">
        <div class="w-1/4 pr-4 border-gray-100 border-r-2" th:if="${resource.location}">
            <h2>Location</h2>
            <div class="content-block" th:if="${resource.location.locality}">
                <div id="map" class="w-full h-64" th:attr="wkt=${resource.location.geometry.value}" th:if="${resource.location.geometry}">

                </div>
                <a th:href="${resource.location.locality.localityURI}" th:text="${resource.location.locality.value}"></a>
            </div>

            <div th:if="${resource.location.geometry}">
                <div class="content-block" th:if="${resource.location.geometry.verticalDatum}">
                    <h3>Vertical Datum</h3>
                    <p th:text="${resource.location.geometry.verticalDatum}"></p>
                </div>

                <div class="content-block" th:if="${resource.location.geometry.geometryURI}">
                    <a th:href="${resource.location.geometry.geometryURI}">Geometry URL</a>
                </div>

                <div class="content-block" th:if="${resource.location.geometry.value}">
                    <h3>WKT</h3>
                    <pre class="whitespace-normal"><code th:text="${resource.location.geometry.value}"></code></pre>
                </div>
            </div>
            <hr>
            <div class="content-block" th:if="${resource.curationDetails}">
                <h2>Curators</h2>
                <div class="content-block" th:each="curation : ${resource.curationDetails}">
                    <h3 th:text="${curation.curator}"></h3>
                    <div class="mb-2" th:if="${curation.curationDate}">
                        <p>Curation Date</p>
                        <p th:text="${curation.curationDate}"></p>
                    </div>
                    <div class="mb-2"th:if="${curation.curationLocation}">
                        <p>Curation Location</p>
                        <p th:text="${curation.curationLocation}"></p>
                    </div>
                    <div class="mb-2" th:if="${curation.curatingInstitution}">
                        <p>Curating Institution</p>
                        <a th:href="${curation.curatingInstitution.institutionURI}" th:text="${curation.curatingInstitution.value} ?: ${curation.curatingInstitution.institutionURI}"></a>
                    </div>

                </div>
            </div>

            <div class="content-block">
                <a href="" class="social-sharing"><i class="fas fa-download"></i></a>
                <a href="" class="social-sharing"><i class="fab fa-facebook"></i></a>
                <a href="" class="social-sharing"><i class="fab fa-twitter"></i></a>
            </div>

        </div>
        <div class="flex-1 pl-4">
            <div class="flex mb-4">
                <div class="mr-10 w-full">
                    <h1 class="text-2xl text-gray mb-3 font-serif" th:text="${resource.resourceTitle}"></h1>
                    IGSN: <a href="#" th:text="${resource.resourceIdentifier}"></a>
                </div>
                <div>
                    <img class="" src="https://via.placeholder.com/100" alt="">
                </div>

            </div>
            <div class="content-block">
                <h3>Sample or Item Type</h3>
                <ul>
                    <li th:each="resourceType : ${resource.resourceTypes}" th:text="${resourceType.value}"></li>
                </ul>
            </div>

            <div class="content-block">
                <h3>Material Type</h3>
                <ul class="list-disc text-grey-darker mb-2">
                    <li class="ml-6" th:each="materialType : ${resource.materialTypes}" th:text="${materialType.value}"></li>
                </ul>
            </div>

            <div class="content-block" th:if="${resource.classifications}">
                <h3>Classifications</h3>
                <ul>
                    <li th:each="classification : ${resource.classifications}">
                        <a th:href="${classification.classificationURI}" th:text="${classification.value}"></a>
                    </li>
                </ul>
            </div>

            <div class="content-block">
                <h3>Comments</h3>
                <p th:text="${resource.comments}"></p>
            </div>

            <div class="content-block" th:if="${resource.alternateIdentifiers}">
                <h3>Alternate Identifiers</h3>
                <ul>
                    <li th:each="alternateIdentifier : ${resource.alternateIdentifiers}" th:text="alternateIdentifier"></li>
                </ul>
            </div>

            <hr>

            <h2>Collection/Creation</h2>

            <div class="content-block">
                <h3>Sampled Features</h3>
                <ul>
                    <li th:each="sampledFeature : ${resource.sampledFeatures}">
                        <a th:href="${sampledFeature.sampledFeatureURI}" th:text="${sampledFeature.value}"></a>
                    </li>
                </ul>
            </div>

            <div class="content-block" th:if="${resource.date}">
                <h3>Date</h3>
                <p th:if="${resource.date.timePeriod}">
                    <span th:text="${resource.date.timePeriod.start}"></span> to <span th:text="${resource.date.timePeriod.end}"></span>
                </p>
            </div>

            <div class="content-block" th:if="${resource.method}">
                <h3>Method</h3>
                <p>
                    <a th:href="${resource.method.methodURI}" th:text="${resource.method.value}"></a>
                </p>
            </div>

            <div class="content-block" th:if="${resource.purpose}">
                <h3>Purpose</h3>
                <p th:text="${resource.purpose}"></p>
            </div>

            <!--Project-->
            <hr>

            <div class="content-block" th:if="${resource.contributors}">
                <h2>Contributors</h2>
                <div th:each="contributor : ${resource.contributors}">
                    <span th:text="${contributor.contributorType}"></span>
                    <span th:text="${contributor.contributorName}"></span>
                    <span th:if="${contributor.contributorIdentifier}">
                        <span th:if="${contributor.contributorIdentifier.contributorIdentifierType}" th:text="${contributor.contributorIdentifier.contributorIdentifierType}"></span>
                        <span th:text="${contributor.contributorIdentifier.value}"></span>
                    </span>

                </div>
            </div>

            <hr>
            <div class="content-block" th:if="${resource.relatedResources}">
                <h2>Related Resources</h2>
                <div th:each="relatedResource : ${resource.relatedResources}">
                    <span th:text="${relatedResource.relationType}"></span>
                    <span th:text="${relatedResource.relatedResourceIdentifierType}"></span>
                    <span th:text="${relatedResource.value}"></span>
                </div>
            </div>


        </div>
    </div>

    <h2 class="text-2xl text-gray mb-3">XML</h2>
    <pre><code class="lang-xml" th:text="${xml}"></code></pre>
</section>
</body>
</html>