<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout(~{::title}, ~{::section})}">
<head>
    <title th:text="${resource.resourceTitle}"></title>
</head>
<body>
<section>
    <div class="flex">
        <div class="w-1/4 pr-4 border-gray-300 border-r-2">
            <h1 class="text-2xl text-gray">Location</h1>
            <img class="w-full" src="https://via.placeholder.com/250" alt="">
            <p>123 Example, South West St, Moss Vale NSW 2357</p>
        </div>
        <div class="flex-1 pl-4">
            <div class="flex mb-4">
                <div class="mr-10">
                    <h1 class="text-2xl text-gray mb-3" th:text="${resource.resourceTitle}"></h1>
                    IGSN: <span class="text-grey-darker mb-2" th:text="${resource.resourceIdentifier}"></span>
                </div>
                <img class="" src="https://via.placeholder.com/100" alt="">
            </div>
            <h1>Sample or Item Type:</h1>
            <ul class="list-disc text-grey-darker mb-2">
                <li class="ml-6" th:each="resourceType : ${resource.resourceTypes}" th:text="${resourceType.value}"></li>
            </ul>
            <h1>Material Type:</h1>
            <ul class="list-disc text-grey-darker mb-2">
                <li class="ml-6" th:each="materialType : ${resource.materialTypes}" th:text="${materialType.value}"></li>
            </ul>
<!--            <h1>Classifications</h1>-->
<!--            <ul class="list-disc text-grey-darker mb-2">-->
<!--                <li class="ml-6" th:each="classification : ${resource.classifications}" th:text="${classification.value}"></li>-->
<!--            </ul>-->
            <h1>Sampled Features</h1>
            <h1>Collection/Creation Date</h1>
            <h1>Purpose of collection/creation</h1>
        </div>
    </div>

    <div class="font-sans flex w-full py-8">
        <div class="overflow-hidden bg-white rounded w-full shadow-lg">
            <div class="block p-4 border-b">
                <p class="font-bold mb-1 text-black">Registered Object Type</p>
                <p class="text-grey-darker mb-2" th:text="${resource.registeredObjectType}"></p>
            </div>
            <div class="block p-4 border-b">
                <p class="font-bold mb-1 text-black">Landing Page</p>
                <p class="text-grey-darker mb-2" th:text="${resource.landingPage}"></p>
            </div>
            <div class="block p-4 border-b">
                <p class="font-bold mb-1 text-black">Public</p>
                <p class="text-grey-darker mb-2" th:text="${resource.isPublic}"></p>
            </div>
        </div>
    </div>

    <h2 class="text-2xl text-gray mb-3">XML</h2>
    <pre><code class="lang-xml" th:text="${xml}"></code></pre>
</section>
</body>
</html>